.sectionTitle__container{
    height:500px;
    width:100vw;
    background-size: cover;
    position: relative;
}
.sectionTitle__container::after{
    content: "";
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: var(--btn-gradient);
    opacity: .85;
    z-index: 1;
}

.sectionTitle__wrapper > *{
    z-index: 100;
}

.sectionTitle__wrapper{
    display:grid;
    justify-content:center;
    align-items: center;
    height:100%;
}


.sectionTitle__wrapper h1{
    font-size: 4rem;
    font-family: Poppins;
    font-weight: 400;
    color:white;
    text-shadow: 2px 2px 5px rgba(0,0,0, 0.5);
}