.sectionText__container {
    height:100%;
    width:60vw;
}

.sectionText__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
}
.sectionText__content{
    height: 400px;
    width: 400px;
    font-family: Poppins;
    font-weight: 300;
    font-size: 1rem;
}

.sectionText__content p{
    margin: 20px 0;
}

.sectionText__container .btn__container{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 50px;
}
.sectionHeader h2{
    font-size: 2rem;
    font-weight: 400;
    color: var(--title-color);
    font-family: Poppins;
    font-weight: 600;
    margin: 0;
}

.sectionHeader h4{
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--subtitle-color);
    font-family: Poppins;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

