.table__container{
    width: 100%;
    background-color: aliceblue;
}

.table__wrapper{
    margin:10px;
}

table{
    width: 100%;
}
table tr{
    width: 100%;
    border-bottom: 1px solid aliceblue;
}
table td{
    font-size: 0.8rem;
    text-align: center;

}

table thead{
    width: 100%;
    background-color: var(--main-color);
    color: var(--side-bar-color)
}

table th{
    border: 0px solid var(--accent-color);
    padding: 2px;
    box-shadow: 2px 3px 1px rgba(0, 0, 0,0.5)
}

.selectDate__wrapper{
    display: flex;
    justify-content: flex-end;
}

table tbody{
    background-color: rgb(255, 254, 254);
    border: 1px solid var(--accent-2-color)
}
.table__wrapper{
    overflow:scroll;
}