.listItem__container{
    display:flex;
    grid-template-columns: 2fr 8fr;
    place-items: center;
    background-color: var(--primary-color);
    padding:5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    gap: 15px;
}

.listItem__container i{
    font-size: 2rem;
    color: var(--accent-color);
    font-weight: 600;
    margin-left: 20px;
}

.listItem__container p{
    font-size: 1.2rem; 
    color:aliceblue;
    font-family: Mulish;
    font-weight:300;
    align-self: flex-start;
    text-align: left;
}