.listItem__container{
    display:grid;
    grid-template-columns: 2fr 6fr 2fr;
    place-items: center;
    background-color: aliceblue;
    border-radius: 8px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    width: 80%;
}

.listItem__container i{
    font-size: 1rem;
    color: var(--accent-color);
    font-weight: 600;
    margin-left: 20px;
}

.listItem__container p{
    font-size: .9rem; 
    color:var(--main-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;;
    font-weight:300;
    align-self: flex-start;
    text-align: left;
}

.listItem__name{
    text-align: left;
}
.listItem__container .amount{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-right:20px;
    font-weight: 400;
    color:var(--main-color)
}